<%= render 'layouts/navbar' %>

<div class="row">
  <div class="large-12 columns">
    <div class="panel radius text-center">
      <span>Publications</span>
    </div>
  </div>
</div>

<div class='row'>
  <table class="tablesorter radius" id="projects">
	  <thead>
	    <tr>
	      <th width="150">Citation ID</th>
	      <th width="125">Publication Date</th>
	      <th width="100">Citation Text</th>
	    </tr>
	  </thead>
	  <tbody>
    	<tr>
	      <td>PMID: 19022862</td>
	      <td> January 2009</td>
	      <td>Okuda DT, Srinivasan R, Oksenberg JR, Goodin DS, Baranzini SE, Beheshtian A, Waubant E, Zamvil SS, Leppert D, Qualley P, Lincoln R, Gomez R, Caillier S, George M, Wang J, Nelson SJ, Cree BA, Hauser SL, Pelletier D. <strong>Genotype-phenotype correlations in multiple sclerosis: HLA genes influence disease severity inferred by 1HMR spectroscopy and MRI measures.</strong> Brain 2009, 132:250-9. PMCID: PMC2638695</td>
    	</tr>
    	<tr>
	      <td>PMID: 19451531</td>
	      <td> May 2009</td>
	      <td>Mowry EM, Beheshtian A, Waubant E, Goodin DS, Cree BA, Qualley P, Lincoln R, George MF, Gomez R, Hauser SL, Okuda DT, Pelletier D. <strong>Quality of life in multiple sclerosis is associated with lesion burden and brain volume measures. </strong> Neurol 2009, 72:1760-65. PMCID: PMC2683738</td>
    	</tr>
    	<tr>
	      <td>PMID: 19010793</td>
	      <td>February 2009</td>
	      <td>Baranzini SE, Wang J, Gibson RA, Galwey N, Naegelin Y, Barkhof F, Radue EW, Lindberg RL, Uitdehaag BM, Johnson MR, Angelakopoulou A, Hall L, Richardson JC, Prinjha RK, Gass A, Geurts JJ, Kragt J, Sombekke M, Vrenken H, Qualley P, Lincoln RR, Gomez R, Caillier SJ, George MF, Mousavi H, Guerrero R, Okuda DT, Cree BA, Green AJ, Waubant E, Goodin DS, Pelletier D, Matthews PM, Hauser SL, Kappos L, Polman CH, Oksenberg JR. <strong>Genome-wide association analysis of susceptibility and clinical phenotype in multiple sclerosis. </strong> Hum Mol Genet 2009, 18:767-78. PMCID: PMC4334814</td>
    	</tr>
    	<tr>
	      <td>PMID: 19286671</td>
	      <td>June 2009</td>
	      <td>Baranzini SE, Galwey NW, Wang J, Khankhanian P, Lindberg R, Pelletier D, Wu W, Uitdehaag BM, Kappos L; GeneMSA Consortium, Polman CH, Matthews PM, Hauser SL, Gibson RA, Oksenberg JR, Barnes MR. <strong>Pathway and network-based analysis of genome-wide association studies in multiple sclerosis.</strong> Hum Mol Genet 2009, 18:2078-90. PMCID: PMC2678928</td>
    	</tr>
    	<tr>
	      <td>PMID: 20802204</td>
	      <td>September 2010</td>
	      <td>Baranzini SE, Srinivasan R, Khankhanian P, Okuda DT, Nelson SJ, Matthews PM, Hauser SL, Oksenberg JR, Pelletier D. <strong>Genetic variation influences glutamate concentrations in brains of patients with multiple sclerosis.</strong> Brain 2010, 133:2603-11. PMCID: PMC2929334</td>
    	</tr>
    	<tr>
	      <td>PMID: 21586487</td>
	      <td>September 2011</td>
	      <td>Roosendaal SD, Bendfeldt K, Vrenken H, Polman CH, Borgwardt S, Radue EW, Kappos L, Pelletier D, Hauser SL, Matthews PM, Barkhof F, Geurts JJ. <strong>Grey matter volume in a large cohort of multiple sclerosis patients: relation to MRI parameters and disability.</strong> Mult Scler 2011, 17:1098-106</td>
    	</tr>
    	<tr>
	      <td>PMID: 22926855</td>
	      <td>August 2012</td>
	      <td>Mowry EM, Waubant E, McCulloch CE, Okuda DT, Evangelista AA, Lincoln RR, Gourraud PA, Brenneman D, Owen MC, Qualley P, Bucci M, Hauser SL, Pelletier D. <strong>Vitamin D status predicts new brain magnetic resonance imaging activity in multiple sclerosis.</strong> Ann Neurol 2012, 72:234-40. PMCID:PMC3430977</td>
    	</tr>
    	<tr>
	      <td>PMID: 23412934</td>
	      <td>April 2013</td>
	      <td>Gourraud PA, Sdika M, Khankhanian P, Henry RG, Beheshtian A, Matthews PM, Hauser SL, Oksenberg JR, Pelletier D, Baranzini SE. <strong>A genome-wide association study of brain lesion distribution in multiple sclerosis.</strong> Brain 2013 136:1012-24. PMCID: PMC3613709</td>
    	</tr>
    	<tr>
	      <td>PMID: 23748426</td>
	      <td>October 2013</td>
	      <td>Nickles D, Chen HP, Li MM, Khankhanian P, Madireddy L, Caillier SJ, Santaniello A, Cree BA, Pelletier D, Hauser SL, Oksenberg JR, Baranzini SE. <strong>Blood RNA profiling in a large cohort of multiple sclerosis patients and healthy controls.</strong> Hum Molec Genet 2013, 22:4194-205. PMCID: PMC3781642</td>
    	</tr>
    	<tr>
	      <td>PMID: 24099750</td>
	      <td>May 2014</td>
	      <td>Harbo HF, Isobe N, Berg-Hansen P, Bos SD, Caillier SJ, Gustavsen MW, Mero IL, Celius EG, Hauser SL, Oksenberg JR, Gourraud PA. <strong>Oligoclonal bands and age of onset correlate with genetic risk score in multiple sclerosis.</strong> Mult Scler 2014, 20:660-668, 2014. PMCID: PMC4066985</td>
    	</tr>
    	<tr>
	      <td>PMID: 24839987</td>
	      <td>July 2014</td>
	      <td>Llufriu S, Kornak J, Ratiney H, Oh J, Brenneman D, Cree BA, Sampat M, Hauser SL, Nelson SJ, Pelletier D. <strong>Magnetic resonance spectroscopy markers of disease progression in multiple sclerosis.</strong> JAMA Neurol 2014, 71:840-7. PMCID: not available</td>
    	</tr>
    	<tr>
	      <td>PMID: 25043416</td>
	      <td>August 2014</td>
	      <td>Azevedo CJ, Kornak J, Chu P, Sampat M, Okuda DT, Cree BA, Nelson SJ, Hauser SL, Pelletier D. <strong>In vivo evidence of glutamate toxicity in multiple sclerosis.</strong> Ann Neurol 2014, 76:269-78. PMCID:PMC4142752</td>
    	</tr>
    	<tr>
	      <td>PMID: 25087920</td>
	      <td>August 2014</td>
	      <td>Schlaeger R, Papinutto N, Panara V, Bevan C, Lobach IV, Bucci M, Caverzasi E, Gelfand JM, Green AJ, Jordan KM, Stern WA, von Büdingen HC, Waubant E, Zhu AH, Goodin DS, Cree BA, Hauser SL, Henry RG. <strong>Spinal cord gray matter atrophy correlates with multiple sclerosis disability.</strong> Ann Neurol 2014, 76:568-80, 2014. PMCID: not available</td>
    	</tr>
    	<tr>
	      <td>PMID: 25263997</td>
	      <td>November 2014</td>
	      <td>Gourraud PA, Henry RG, Cree BA, Crane JC, Lizee A, Olson MP, Santaniello AV, Datta E, Zhu AH, Bevan CJ, Gelfand JM, Graves JS, Goodin DS, Green AJ, von Büdingen HC, Waubant E, Zamvil SS, Crabtree-Hartman E, Nelson S, Baranzini SE, Hauser SL. <strong>Precision medicine in chronic disease management: The multiple sclerosis BioScreen.</strong> Ann Neurol 2014 76:633-42 PMCID:PMC4214886</td>
    	</tr>     
    	<tr>
	      <td>PMID: 24727690</td>
	      <td>November 2014</td>
	      <td>Goodin DS, Khankhanian P. <strong>Single nucleotide polymorphism (SNP)-strings: an alternative method for assessing genetic associations.</strong> PLoS One 2014, 9:e90034. PMCID:PMC3984082</td>
    	</tr>     
    	<tr>
	      <td>PMID: 26053119</td>
	      <td>August 2015</td>
	      <td>Schlaeger R, Papinutto N, Zhu AH, Lobach IV, Bevan CJ, Bucci M, Castellano A, Gelfand JM, Graves JS, Green AJ, Jordan KM, Keshavan A, Panara V, Stern WA, von Büdingen HC, Waubant E, Goodin DS, Cree BA, Hauser SL, Henry RG. <strong>Association Between Thoracic Spinal Cord Gray Matter Atrophy and Disability in Multiple Sclerosis.</strong> JAMA Neurol 2015, 72:897-904. PMCID: not available</td>
    	</tr>     
    	<tr>
	      <td>PMID: 25684059</td>
	      <td>February 2015</td>
	      <td>Matsushita T, Madireddy L, Sprenger T, Khankhanian P, Magon S, Naegelin Y, Caverzasi E, Lindberg RL, Kappos L, Hauser SL, Oksenberg JR, Henry R, Pelletier D, Baranzini SE. <strong>Genetic association with cortical thickness in multiple sclerosis.</strong> Genes Brain Behav. 2015, 14:217-27. PMCID: not available</td>
    	</tr>      
    	<tr>
	      <td>PMID: 26185143</td>
	      <td>September 2015</td>
	      <td>Khankhanian P, Gourraud PA, Lizee A, Goodin DS. <strong>Haplotype-based approach to known MS-associated regions increases the amount of explained risk.</strong> J Med Genet 2015, 52:587-94. PMCID:PMC4552900</td>
    	</tr>     
    	<tr>
	      <td>Submitted</td>
	      <td></td>
	      <td>The UCSF MS-EPIC Team. Cree BAC, Gourraud P-A, Oksenberg JR, Bevan C, Crabtree-Hartman E, Gelfand JM, Goodin DS, Graves J, Green AJ, Mowry E, Okuda DT, Pelletier D, von Büdingen HC, Zamvil SS, Agrawal A, Caillier S, Ciocca C, O’Shea R, Kanner R, Lincoln R, Lizee A, Qualley P, Santaniello A, Suleiman L, Bucci M, Panara V, Papinutto N, Stern WA, Zhu AH, Cutter G, Baranzini S, Henry RG, Hauser SL. <strong>Long-term evolution of multiple sclerosis disability in the treatment era.</strong></td>
    	</tr>     
    	<tr>
	      <td>In preparation</td>
	      <td></td>
	      <td>Isobe et al. <strong>Effects of HLA genetic burden on disease phenotypes in multiple sclerosis.</strong></td>
    	</tr>     
    	<tr>
	      <td>In preparation</td>
	      <td></td>
	      <td>Eggers E, Michel BA, Wang S, et al. <strong>Cerebrospinal fluid B cells in early active MS. </strong> </td>
    	</tr>          	   	    	    	   	
	  </tbody>
	</table>
</div>		

<%= render 'layouts/footer' %>