<%= render 'layouts/navbar' %>

<div id='msdr-theme'>
	<div class'row margin-top'>
		<div class='panel small-12 columns text-center'>
			<h1>
				Bove Remote EDSS Data v2 Calculation
			</h1>
		</div>
	</div>


</div>
<%= render 'layouts/footer' %>