<%= render 'layouts/myo_navbar' %>

<div id="myo">

	<div class="row margin-top">
	  <div class="large-12 columns">
	    <div class="callout panel radius text-center">
	      <h1>Demographics</h1>
	    </div>
	  </div>
	  <div class='small-6 columns'>
	  	<h4>Sex Breakdown:</h4>
	  </div>
	  <div class='small-3 columns'>
	  	<p>50% women</p>
	  </div>
	  <div class='small-3 columns'>
	  	<p>50% men</p>
	  </div>	  
	</div>

</div>

