<%= render 'layouts/myo_navbar' %>

<div id="myo">

	<div class="row margin-top">
	  <div class="large-12 columns">
	    <div class="callout panel radius text-center">
	      <h1>Demographics</h1>
	    </div>
	  </div>
	</div>
	<div class='row'>
	  <div class='small-4 columns'>
	  	<h4>Sex Breakdown:</h4>
	  </div>
	</div>
	<div class='row'>
		<div class='small-12 columns'>
			<table>
			  <thead>
			    <tr>
			      <th>Female</th>
			      <th>Male</th>
			      <th>Unrecorded</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			    </tr>			    
			    <tr>
			    </tr>
			  </tbody>
			</table>					
		</div>
	</div>

	<div class='row'>
	  <div class='small-12 columns'>
	  	<h4>Disease Breakdown:</h4>
	  </div>
	</div>
	<div class='row'>
		<div class='small-12 columns'>
			<table>
			  <thead>
			    <tr>
			      <th>RRMS</th>
			      <th>SP</th>
			      <th>Progessive Onset</th>
			      <th>Optic Neuritis</th>
			      <th>Transverse Neuritis</th>
			      <th>CIS</th>
			      <th>RIS</th>
			      <th>Other</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			    </tr>			    
			    <tr>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>

	<div class='row'>
		<div class='small-12 columns'>
			<h4>Physician EDSS Breakdown:</h4>
			<!-- <div id='edssGraph'></div> -->
		</div>
	</div>
	<div class='row'>
		<div class='small-12 columns'> 
			<table>
			<thead>
				<tr>
					<th>Mean</th>
					<th>Median</th>
					<th>Mode</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				</tr>
			</tbody>
				
			</table>
		</div>
	</div>

	<div class='row'>
		<div class='small-12 columns'>
			<h4>Remote EDSS Breakdown:</h4>
			<!-- <div id='edssGraph'></div> -->
		</div>
	</div>
	<div class='row'>
		<div class='small-12 columns'> 
			<table>
			<thead>
				<tr>
					<th>Mean</th>
					<th>Median</th>
					<th>Mode</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				</tr>
			</tbody>
				
			</table>
		</div>
	</div>	
</div>
