<%= render 'layouts/myo_navbar' %>

<div id="myo">

	<div class="row margin-top">
	  <div class="large-12 columns">
	    <div class="callout panel radius text-center">
	      <h1>Demographics</h1>
	    </div>
	  </div>
	  <div class='small-12 columns'>
	  	<p class='text-center'>(Will populate as more data rolls in)</p>
	  </div>
	</div>

</div>

