<div class="row margin-top">
  <div class="large-12 columns">
    <div class="callout panel radius text-center">
      <h1>Track Myo</h1>
    </div>
  </div>
</div>


<div class='row'>
	<div class='small-4 columns text-center panel'>
		<h3>Upload Files</h3>
	</div>
	<div class='small-4 columns text-center panel'>
		<h3>Participants</h3>
	</div>
	<div class='small-4 columns text-center panel'>
		<h3>Redcap Data</h3>
	</div>
</div>