<div id="myo">
	<div class="row margin-top">
	  <div class="large-12 columns">
	    <div class="callout panel radius text-center">
	      <h1>Track Myo</h1>
	    </div>
	  </div>
	</div>


	<div class='row'>
		<div class='small-4 columns text-center panel'>
			<%= link_to "Upload Files", myo_upload_path, target: "_blank" %>
		</div>
		<div class='small-4 columns text-center panel'>
			<%= link_to "Participants", myo_participants_path, target: "_blank" %>
		</div>
		<div class='small-4 columns text-center panel'>
			<%= link_to "Redcap Data", myo_redcap_path, target: "_blank" %>
		</div>
	</div>
</div>