<div id="myo">
	<div class="row margin-top">
	  <div class="large-12 columns">
	    <div class="callout panel radius text-center">
	      <h1>Track Myo Upload Files</h1>
	    </div>
	  </div>
	</div>

<div class='row'>
	<%= form_for @visit, :html => { :multipart => true }, url: {action: "update_visit", params: {id: @visit.id}} do |f| %>
		<%= f.fields_for :myo_files do |p| %>
			<label> Visit Files
				<%= p.file_field :file, multiple: true, name: "myo_files[file][]" %>
			</label>
		<% end %>
	<%= f.submit "Upload Files", class: "button radius small-12 columns" %>
	<% end %>
</div>

