<%= render 'layouts/navbar' %>

<div class="row margin-top">
  <div class="large-12 columns">
    <div class="panel radius text-center">
      <span>MSSDC Sysadmin</span>
    </div>
  </div>
</div>

<div class='row'>
<%= form_for @sysadmin do |f| %>
	<%= f.text_area :content, :class => "wysiwyg" %>
	<%= f.submit 'Submit', :class => 'button radius right' %>
	<% end %>
</div>		

<script>
	$(function() {
		$('.wysiwyg').froalaEditor();
	});
</script>