<%= render 'layouts/navbar' %>

<div class="row">
  <div class="large-12 columns">
    <div class="panel radius text-center">
      <span>MS EPIC Funding</span>
    </div>
  </div>
</div>

<div class='row'>
  <table class="tablesorter radius" id="fundings">
	  <thead>
	    <tr>
	      <th width="100">Title</th>
          <th width="100">Project Investigator(s)</th>
	      <th width="100">Description</th>
          <th width="100">Time Active</th>
	    </tr>
	  </thead>
	  <tbody>
    	<tr>
	      <td>R01 NS - Gene Linkage Study of Multiple Sclerosis Sibling Pairs</td>
	      <td>Hauser/Oksenberg</td>
          <td class='left-align'>The objective of this grant is to follow up with fine mapping and functional studies genes and regions of interest emerging from genome-wide association studies in multiple sclerosis.</td>
          <td>09/30/2015- 07/31/2019</td>
    	</tr>
    	<tr>
	      <td>RG 2899-D11 - Establishment of a core DNA repository for multiple sclerosis</td>
          <td>Oksenberg/Hauser</td>
          <td class='left-align'>The objectives of this grant are to maintain and expand a core DNA repository of multiple sclerosis patients and family members. To maintain and expand a centralized relational database system for the storage and pairing of clinical, demographic, repository and laboratory generated data. </td>
          <td>07/01/2012-06/30/2017</td>
    	</tr>
        <tr>
          <td>Genentech 192333 - Predictors of progression and neurological disability</td>
          <td>Oksenberg</td>
          <td class='left-align'>UCSF will provide EPIC retrospective data and acquire additional prospective data. UCSF and G3netech research teams will collaborate to identify the determinants and modifiers of disease progression in MS.</td>
          <td>07/01/2015-06/30/2019</td>
        </tr>
        <tr>
          <td>R01NS088155 - Post GWAS approach to identify cell-specific genetic pathways underlying MS risk</td>
          <td>Baranzini</td>
          <td class='left-align'>The goal of this project is to identify and characterize cell-specific QTLs in multiple sclerosis and to perform a comprehensive analysis of gene x gene interactions underlying susceptibility. </td>
          <td>09/01/2014-08/31/2019</td>
        </tr>
        <tr>
          <td>The Conrad H. Hilton Foundation  - The MS Bioscreen. Translational Digital Medicine for multiple sclerosis</td>
          <td>Hauser/Gourraud</td>
          <td class='left-align'>We have developed a first-generation data navigation tool for MS called the Bioscreen, designed to bridge the power of high-quality data with the efficiency of cloud-based data-management, and the user-friendliness of a tablet-based application. This grant will further the development of the prognostic algorithms and extend the use of this instrument to non-research patients by capturing in real-time key elements of their disease course.</td>
          <td>12/01/2013-11/31/2016</td>
        </tr>
        <tr>
          <td>The Progressive MS Alliance - Genetic analysis of high-resolution imaging endophenotypes in MS Progression </td>
          <td>Baranzini</td>
          <td class='left-align'>This proposal will test the hypothesis that brain and visual imaging endophenotypes can be used to tract and identify specific genetic variation affecting risk, expression, and progression of MS. The overall design of this specific aim focuses on performing longitudinal association studies to determine whether the presence of specific genetic variants and sub-networks previously identified in MS correlate with direct and indirect imaging metrics of disease activity and progression.</td>
          <td>08/01/2014-12/31/2015</td>
        </tr>
        <tr>
          <td>NMSS PP3410  - Sex Specific Aging and Multiple Sclerosis Phenotype</td>
          <td>Graves</td>
          <td class='left-align'>Our primary objective in this pilot study is to leverage a deeply phenotyped cohort of female MS patients (n=412) to investigate whether lower levels of anti-Mullerian hormone (AMH) associate with MS progression independent of chronological age and disease duration.</td>
          <td></td>
        </tr>
        <tr>
          <td>NMSS PP3410 - Disease Relevance of CD20 Expression on T cells in Multiple Sclerosis</td>
          <td>von Buedingen</td>
          <td class='left-align'>The goal of this grant is to understand functional properties and a potential MS pathogenic role of CD20-expressing T cells in humans.</td>
          <td>08/15/2015-06/30/2020</td>
        </tr>
        <tr>
          <td>The Conrad H. Hilton Foundation  - The coagulation cascade as a biomarker and therapeutic target for progressive multiple sclerosis </td>
          <td>Akassoglou</td>
          <td class='left-align'>The purpose of this study is to assess whether changes in coagulation cascade biomarkers predict MS progression</td>
          <td>01/01/2015-12/31/2016</td>
        </tr>                                                                  	   	    	    	   	
	  </tbody>
	</table>
</div>		

<%= render 'layouts/footer' %>