/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation
 *= require_tree .
 *= require_self
 *= require jquery-tablesorter/theme.blue
 *= require foundation_and_overrides
 *= require owl.carousel
 *= require owl.theme
 *= require gritter

 */

 .button{
 	background-color: rgba(0, 114, 255, 0.72);
 	border-color: rgba(0, 114, 255, 0.72);
 }
.button:hover, .button:focus{
	background-color: rgba(0, 114, 255, 0.92);
	border-color: rgba(0, 114, 255, 0.92);
	text-decoration: none;
}

th {
	background-color: rgba(255, 141, 0, 0.57);
}

table {
	width: 100%;
	border-radius: 5px;
}

a:hover, a:focus{
	color: black;
	text-decoration: underline;
}

.close-reveal-modal:hover{
	text-decoration: none;
}