table thead tr table tfoot tr th, table tfoot tr td, table tbody tr th, table tbody tr td, table tr td {
	padding:0 !important;
	margin:0 !important;
	text-align: center;
}

.full-width{
	max-width:none !important;
}