// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#msdr-theme{

	.left-align{
		text-align: left;
		margin-left: 5px
	}

	img{
		border-radius: 5px;
	}

	.close-reveal-modal:hover{
		text-decoration: none;
	}

	body{
		font-family: 'Open Sans', sans-serif;
		background-color: rgba(253, 190, 92, 0.08);
	}


	.panel {
		background-color: rgba(0, 114, 255, 0.4);
		border: 3px;
		border-color: rgba(0, 114, 255, 0.4);

		span{
			font-size: 3em;
		}
	}

	.button, #button{
		background-color: rgba(0, 114, 255, 0.72) !important;
		border-color: rgba(0, 114, 255, 0.72) !important;
		color: white;
	}

	.button:hover, .button:focus{
		background-color: rgba(0, 114, 255, 0.92) !important;
		border-color: rgba(0, 114, 255, 0.92) !important;
		text-decoration: none !important;
	}

	th {
		background-color: rgba(0, 114, 255, 0.4);
	}

	table {
		width: 100%;
		border-radius: 5px;
	}

	.awaiting-approval{
		opacity: .25;
	}

	.full-width{
		max-width:none !important;
	}

	table thead tr table tfoot tr th, table tfoot tr td, table tbody tr th, table tbody tr td, table tr td {
		padding:0 !important;
		margin:0 !important;
		text-align: center;
	}

	a, a:hover { 
		text-decoration: none !important;
	}

	
}