#predss-theme{

	.left-align{
		text-align: left;
		margin-left: 5px
	}

	img{
		border-radius: 5px;
	}

	.close-reveal-modal:hover{
		text-decoration: none;
	}

	body{
		font-family: 'Open Sans', sans-serif;
		background-color: rgba(253, 190, 92, 0.08);
	}


	.panel {
		background-color: rgba(0, 114, 255, 0.4);
		border: 3px;
		border-color: rgba(0, 114, 255, 0.4);

		span{
			font-size: 3em;
		}
	}

	.button, #button{
		background-color: rgba(0, 114, 255, 0.72) !important;
		border-color: rgba(0, 114, 255, 0.72) !important;
		color: white;
	}

	.button:hover, .button:focus{
		background-color: rgba(0, 114, 255, 0.92) !important;
		border-color: rgba(0, 114, 255, 0.92) !important;
		text-decoration: none !important;
	}

	th {
		background-color: rgba(0, 114, 255, 0.4);
	}
    td {
      border: 1px solid #ccc ;
    }

	table {
		width: 100%;
		border-radius: 5px;
        border: 1px solid #0d2054 ;

	}

    table tr:nth-of-type(even) {
      background-color: rgba(0, 114, 255, 0.1) !important;
    }


	.full-width{
		max-width:none !important;
	}

    /*
	table thead tr table tfoot tr th, table tfoot tr td, table tbody tr th, table tbody tr td, table tr td {
		padding:0 !important;
		margin:0 !important;
		text-align: center;
	}
    */

	a, a:hover { 
		text-decoration: none !important;
	}

	
}