// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h2 {
	color: white;
}

.window{
  width:100%;
  height:100%;
  position:absolute;
}

$teal:#1babb7;

$colors: $teal;

@for $i from 1 through 1{
    .window:nth-child(#{$i}){
        background:nth($colors, $i);
        top:($i - 1) * 100%;
    }
}

.parent-center {
	position: relative;
}

.child-center{
	position: absolute;
	top:40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.styled-link{
	transition: color .25s linear;
	text-decoration: none;
	color: white;
}

.styled-link:hover {
	transition: color .25s linear;
	text-decoration: none;
	color: #FAB969;
}

.styled-link:visited {
	text-decoration: none;
}