// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
	color: #4d4d4d;
}

.video-js{
	opacity: .40;
}

$teal:#1babb7;

$colors: $teal;

@for $i from 1 through 1{
    .window:nth-child(#{$i}){
        background:nth($colors, $i);
        top:($i - 1) * 100%;
    }
}

.child-center{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.top-right{
	position: absolute;
	top:5%;
	transform: translate(0%, -50%);
	max-width:none;
}

.right-absolute{
	position:absolute;
	right:40px;
}

.styled-link{
	transition: color .25s linear;
	-o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
	text-decoration: none;
	color: #4d4d4d
}

.styled-link:hover {
	text-decoration: none;
	color: #FAB969;
}

.styled-link:visited {
	text-decoration: none;
}

#big-video-wrap{
	overflow:hidden;
}