<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-5 columns">
        <p>Made by the MS genetics group</p>
      </div>
        <ul class='inline-list right'>
        	<li><a href="mailto:adam.santaniello@ucsf.edu">Contact us</a></li>
        </ul>
    </div>
  </div>
</footer>