<div id='myo'>
  <div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">

        <ul class="right">
          <li><%= link_to "Dashboard", controller: "myo", action: "index"%></li>
          <li><%= link_to "Participants", myo_participants_path%></li>
          <li><%= link_to "Redcap Data", myo_redcap_path%></li>
          <li><%= link_to("Logout", destroy_user_session_path, class: 'styled-link', method: :delete)%></li>
        </ul>

      </section>
    </nav> 
  </div> 
</div>
