<div id='msdr-theme'>
  <div class="row">
    <div class="small-12 columns text-center">
      <h2> Upload a new project </h2>    
    </div>  
  </div>

  <%= form_for(@project, remote: true, data: {abide: ''}) do |f| %>
    <div class="row">
      <div class="large-12 columns">
        <small>Required</small>
        <div class="row collapse prefix-radius">
          <div class="small-4 columns">
            <span class="prefix">Principal Investigator and Others</span>
          </div>
          <div class="small-8 columns">
              <%= f.text_field :author, placeholder: 'e.g. Jorge Oksenberg, Noriko Isobe', required: true %>
              <small class="error">This field is required.</small>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
      <small>Required</small>
        <div class="row collapse prefix-radius">
          <div class="small-4 columns">
            <span class="prefix">Project Title</span>
          </div>
          <div class="small-8 columns">
              <%= f.text_field :title, placeholder: 'e.g. Study of MS Genetics Susceptibility', required: true %>
              <small class="error">This field is required.</small>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <%= f.submit 'Submit', :class => 'button radius right' %>
      </div>
    </div>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>

  <% end %>
</div>